= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-2
            = label :news_item, :representative, 'Representative:',  class: 'col-form-label'
        .col-sm-10
            = @representative.name
    - @articles.each_with_index do |article, index|
        .form-group.row
            .col-sm-10
                = f.radio_button :link, article['url'], id: "article_#{index}"
                %br/
                = label "article_#{index}", "Title: #{article['title']}"
                %br/
                = label "article_#{index}", "Link: "
                = link_to article['url'], article['url'], target: "_blank"
                %br/
                = label "article_#{index}", "Description: #{article['description']}"
                %br/
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
