= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-10
            = label :news_item, :representative, 'Representative: ' + @search_rep.name,  class: 'col-form-label'
    
    .form-group.row
        .col-sm-10
            = label :news_item, :issue, 'Issue: ' + @issue,  class: 'col-form-label'

    .form-group.row
        .col-sm-10
            = label :news_item, :issue, 'Select an Article:',  class: 'col-form-label'

    - @articles.each_with_index do |article, index|
        .form-group.row
            .col-sm-10
                = f.radio_button :link, article['url'], id: "article_#{index}"
                %br/
                = label "article_#{index}", "Title: #{article['title']}"
                = f.hidden_field :title, value: article['title']
                %br/
                = label "article_#{index}", "Link: "
                = link_to article['url'], article['url'], target: "_blank"
                = f.hidden_field :link, value: article['url']
                %br/
                = label "article_#{index}", "Description: #{article['description']}"
                = f.hidden_field :description, value: article['description']
                %br/
    .form-group.row
        .col-sm-10
            = label :news_item, :rating, 'Rating:', class: 'col-form-label'
            = f.select :rating, options_for_select(@ratings.map { |rating| [rating, rating] }), {}, class: 'form-control'
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
